body {
  max-width: 1020px
  margin: auto;
  position:
  background: #f0f8ff;
}

header {
  color: white;
  background: deepskyblue;
  position: relative;
  width: 1000px;
  height: 70px;
  border-bottom: 3px solid midnightblue;

}
nav a {
  float: left;
  font-family: 'Lato', sans-serif;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style: none;
  }

nav a:hover {
    background-color: midnightblue;
    color: white;
  }

.logo {
    font-family: 'Lato', sans-serif;
    color: midnightblue;
    float: left;
  }

.menu > li {
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

section > img {
  float: left;
  margin-right: 10px;
  width: 500px
}

article.right{
  float: left;
  width: 500px
}
h1 {
  font-family: 'Scope One', serif;
  color: midnightblue;
  font-size: 2em;
  text-align: center;
}

blockquote {
  color: midnightblue;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  color: midnightblue;
  font-size: 1em;
  text-align: justify;
}

#centered {
    margin: auto;
    background: white;
    width: 1000px;
    height: auto;
    text-align: center;
}
footer {
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  background: deepskyblue;
  position: center;
  width: 1000px;
  height: 200px;
  border-top: 3px solid midnightblue;
}
